{% extends 'base.html' %}

{% block title %} Products {% endblock %}

{% block content %}

<div class="bg-light p-5 rounded mb-4">
    <h1>Shipments List</h1>
    <a href="/shipment/new" class="btn btn-success mt-3">Add New Shipment</a>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Supplier Name</th>
                <th>Shipment No</th>
                <th>Date Received</th>
                <th>Comments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for shipment in shipments %}
            <tr>
                <td>{{ shipment.id }}</td>
                <td>{{ shipment.supplier_name }}</td>
                <td>{{ shipment.shipment_no }}</td>
                <td>{{ shipment.date_received }}</td>
                <td>{{ shipment.comments }}</td>
                <td><a href="/shipment/{{ shipment.id }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}